form {
    margin: 20px;
    padding: 10px;
    background-color: grey;
    border: 8px solid black;;
}

input {
    margin: 5px;
    padding: 5px;
}

select {
    margin: 5px;
    padding: 5px;
}

body {
    width: 80%;
    vertical-align: center;
    margin: 0 auto;
    padding: 20px;
}

fieldset {
    border: 4px solid black;
}